body {
    margin-top: 15rem;
}

#goalTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#goalQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
}

#goalYesNo {
    display: flex;
    align-items: center;
    justify-content: center;
}


#fullBox {
    margin: 6rem;
    background-color: darkslateblue;
}

#timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 2px solid black;
    background-color: grey;
    height: 1.5rem;
    width: 1.5rem;
    margin: .8rem;
    position: relative;
}

#filled {
    background-color: black;
}
