body {
    margin-top: 15rem;
    padding-bottom: 1em;
}
body h1 {
    text-align: center;
}
main {
 margin: 6em 6em 0 6em ;
 padding-top: 1.5em;
}

#starship-pick {
    margin: 5em;
}
#intro-form {
    margin: 5em;
}


#goalTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#goalQuestion {
    display: flex;
    align-items: center;
    justify-content: center;
}

#goalYesNo {
    display: flex;
    align-items: center;
    justify-content: center;
}


#fullBox {
    margin: 6rem;
    background-color: darkslateblue;
}

#timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 2px solid black;
    background-color: grey;
    height: 1.5rem;
    width: 1.5rem;
    margin: .8rem;
    position: relative;
}

#filled {
    background-color: black;
}

#finishedBox {
    padding: 2em;
    background-color: grey;
}
#finishedBox h1 {
    margin-bottom: -1em;
}
#finishedBox img {
    width: 30%;
    margin-bottom: 2em;
}

#welcome1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
}

#restart1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

/* Past this point causes css anomalys */

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    justify-content:center;
}

h2 {
    display:flex;
    margin-top: 5rem;
}

#startShipImg {
    display:flex;
    justify-content:center;
    margin-top:1rem;
    padding:2rem;
    width: 45%;
}

  /* label color */
body {
margin: 5em;
}

.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000;
}

/* label underline focus color */
.validate:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
