
body {
    box-sizing: border-box;
    background-color: whitesmoke;

}

h2 {
    display:flex;
    margin-top: 5rem;
}

#startShipImg {
    display:flex;
    justify-content:center;
    margin-top:1rem;
    padding:2rem;
    width: 45%;
}